:host {
  display: inline-block;
}

.thumbnail-container {
  position: relative;
  margin: 2px 10px 0 0;
  width: 116px;
  height: 116px;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  line-height: 110px;
}

.thumbnail {
  max-width: 110px;
  max-height: 110px;
  vertical-align: middle;
}